
body {
  background-color: white
  
  
}

.navbar {
 text-align: justify;
 display: flex;
 justify-content: flex-end;
 
}

.marge {
 margin-left: 5px;
 margin-right: 10px;
 }

#carre img {
 width: 30% ; 
 height: auto;
 margin-left: 10px;
 margin-right: 0px;
}

.main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}


.logogoogle {
	width: 220px;
	height: 100px;
	text-align: center;
	padding-top: 112px;
	padding-bottom: 20px;
}

/* resize images */
.logogoogle img {
  width: 100%;
  height: auto;
}

.search input {
	height: 30px;
	width: 600px;
}

.buttons {
	padding-top: 25px;
	padding-bottom: 180px;
}
.country {
	display:flex;
	display: flex-end;
	background: #f2f2f2; 
	border-top: solid 2px #e4e4e4; 
}
footer	{
	background: #f2f2f2; 
	border-top: solid 2px #e4e4e4; 
	display:flex;
	align-items: flex-end;
}
.links {
	display:flex;
	justify-content : space-between
	align-content : flex-end;
}

.linksleft {
	margin-right: 600px;
}




