
body {
  background-color: white 
}

.navbar {
 text-align: justify;
 display: flex;
 justify-content: flex-end;
 padding-top: 15px; /* Baisse la nav bar */
 
}
a {
	color: #222;
	text-decoration: none; /* Dessouligne les liens */
	font-size: 14px;
}
.marge {
 margin-left: 5px;
 margin-right: 10px;
 font-size: 14px;
 }
#carre {
	margin-left: 5px;
}
#carre img {
 width: 25% ; 
 height: auto;
}

.main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}


.logogoogle {
	width: 220px;
	height: 120px;
	text-align: center;
	padding-top: 140px;
	
}

/* resize images */
.logogoogle img {
  width: 100%;
  height: auto;
}

.search input {
	height: 30px;
	width: 600px;
	border: 1px solid #ddd; /* taille, style, color */
	box-shadow: 0px 5px 5px 0px #ddd; /* Dimension des ombres + couleur */
}

.buttons {
	padding-top: 25px;
	padding-bottom: 175px;
}
.country {
	display:flex;
	display: flex-end;
	background: #f2f2f2; 
	border-top: solid 2px #e4e4e4; 
}
footer	{
	background: #f2f2f2; 
	border-top: solid 2px #e4e4e4; 
	display:flex;
	align-items: flex-end;
}
.links {
	display:flex;
	justify-content : space-between
	align-content : flex-end;
}

.linksleft {
	margin-right: 600px;

}




